.card{
    background-color: gray;
    width: 250px;
    height: 450px;
    border-radius: 10px;
    padding: 0;
    margin-left: 420px;
}

.texto{
    color:white;
    font-size: 25px;
    padding: 0;
    margin: 30px 0px 0px 12px;
}

img{
   width: 100px;
   height: 70px;
   margin-top: 10px;
}

.foto{
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    border-radius: 55px;
    margin-left: 120px;
}